/.idea/
*.iml
dist/
target/
/privatenotes/
initialization.json
/vaultserver/certificates/
/vaultserver/volumes/transit/files
/vaultserver/volumes/transit/logs
/vaultserver/volumes/transit/audit
/vaultserver/volumes/vault/files
/vaultserver/volumes/vault/logs
/vaultserver/volumes/vault/audit
/vaultserver/volumes/transit/config/token.json
/vaultserver/volumes/DEV/audit/
/vaultserver/volumes/DEV/files/
/vaultserver/volumes/DEV/logs/
