/.idea/
*.iml
target/
/privatenotes/
initialization.json
/vaultserver/certificates/
/vaultserver/volumes/transit/files
/vaultserver/volumes/transit/logs
/vaultserver/volumes/transit/audit
/vaultserver/volumes/vault/files
/vaultserver/volumes/vault/logs
/vaultserver/volumes/vault/audit
/vaultserver/volumes/transit/config/token.json
/result/
