name: 'Dependency Review'
on: [pull_request]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 'Harden Runner'
        uses: step-security/harden-runner@beefd8c500e5f70ce4fc69e314d454dcf8822f4b
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            proxy.golang.org:443
            storage.googleapis.com:443

      - name: 'Checkout Repository'
        uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222

      - name: 'Dependency Review'
        uses: actions/dependency-review-action@7d25be7d688d1683f13d4e1f8081a34944d6eba2
