name: 'Dependency Review'
on: [pull_request]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0a5820a2ec510d2521c1715d24860fc8cd06400a
        with:
          disable-sudo: true
          egress-policy: audit
          allowed-endpoints: >
            github.com:443
            proxy.golang.org:443
            storage.googleapis.com:443

      - name: 'Checkout Repository'
        uses: actions/checkout@bf085276cecdb0cc76fbbe0687a5a0e786646936

      - name: 'Dependency Review'
        uses: actions/dependency-review-action@d8b4cd80d50fc9d67a9f771c7dd5c2eb76d6d608
