name: 'Dependency Review'
on: [pull_request]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@56b75a26f8bd4688878746adecd21a273b119105
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: 'Checkout Repository'
        uses: actions/checkout@1f9a0c22da41e6ebfa534300ef656657ea2c6707
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@9c96258789e5d9e85fe4ca86115ba4cc62b780cf
