name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5565dcdcb788a76ec5c5ca1d7b54135c92b4db13
      with:
        egress-policy: block
        allowed-endpoints: >
          github.com:443
          proxy.golang.org:443
          storage.googleapis.com:443

    - uses: actions/checkout@5c3ccc22eb2c950a0fa5bc7c47190d8e3f7e681a

    - name: Set up Go
      uses: actions/setup-go@c4a742cab115ed795e34d4513e2cf7d472deb55f
      with:
        go-version: 1.19

    - name: Build
      run: go build -o vault4summon

    - name: Test
      run:  go test ./...

    - uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
      with:
        name: vault4summon linux amd64
        path: vault4summon
