name: 'Go compilation'

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
    - name: 'Harden Runner'
      uses: step-security/harden-runner@266a5d6a507c6927766a67b8380f323eacd977a2
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          github.com:443
          proxy.golang.org:443
          storage.googleapis.com:443

    - name: 'Checkout Repository'
      uses: actions/checkout@3ba5ee6fac7e0e30e2ea884e236f282d3a775891

    - name: 'Set up Go'
      uses: actions/setup-go@bb5ff97ab9c85a2085c8968c49b14f9f0530e2a8
      with:
        go-version-file: './go.mod'

    - name: 'Generate'
      run:  go generate vault4summon

    - name: 'Build'
      run:  go build -o vault4summon

    - name: 'Test'
      run:  go test ./...

    - name: 'Upload binaries'
      uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
      with:
        name: vault4summon linux amd64
        path: vault4summon
