name: 'Go compilation'

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
    - name: 'Harden Runner'
      uses: step-security/harden-runner@39fa126de8af73ab0d455b56764f8fe42b5e6a91
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          github.com:443
          proxy.golang.org:443
          storage.googleapis.com:443

    - name: 'Checkout Repository'
      uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
      with:
        fetch-depth: 0

    - name: 'Set up Go'
      uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753
      with:
        go-version-file: './go.mod'

    - name: 'Go Version'
      run:  go version

    - name: 'Generate'
      run:  go generate vault4summon

    - name: 'Build'
      run:  go build -o vault4summon

    - name: 'Test'
      run:  go test ./...

    - name: 'Upload binaries'
      uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
      with:
        name: vault4summon linux amd64
        path: vault4summon
