name: 'Run Gosec'
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
      - cron: '0 0 * * *' # see https://crontab.guru/ for more examples

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  tests:
    permissions:
      contents: read  # for actions/checkout to fetch code
      security-events: write  # for github/codeql-action/upload-sarif to upload SARIF results
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: 'Harden Runner'
        uses: step-security/harden-runner@266a5d6a507c6927766a67b8380f323eacd977a2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            api.github.com:443
            proxy.golang.org:443
            storage.googleapis.com:443
            artifactcache.actions.githubusercontent.com:443

      - name: 'Checkout Source'
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: 'Run Gosec Security Scanner'
        uses: securego/gosec@f9a8bf0152af9f9bda93de373ddb3762f0d12f14
        with:
          # we let the report trigger content trigger a failure using the GitHub Security features.
          args: '-no-fail -fmt sarif -out gosec.sarif ./...'

      - name: 'Upload SARIF file'
        uses: github/codeql-action/upload-sarif@237a258d2b2dcc0e10abc0ba52e79b541372c151
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: gosec.sarif

      - name: 'Upload artifact'
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # v3.1.1
        with:
          name: Gosec SARIF file
          path: gosec.sarif
          retention-days: 7

