name: Run Gosec
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
      - cron: '0 0 * * 0'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  tests:
    permissions:
      contents: read  # for actions/checkout to fetch code
      security-events: write  # for github/codeql-action/upload-sarif to upload SARIF results
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0a5820a2ec510d2521c1715d24860fc8cd06400a
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Checkout Source
        uses: actions/checkout@bf085276cecdb0cc76fbbe0687a5a0e786646936

      - name: Run Gosec Security Scanner
        uses: securego/gosec@f79c584dbbec47a01a69adbe3e2e96f54bbe74d6
        with:
          # we let the report trigger content trigger a failure using the GitHub Security features.
          args: '-no-fail -fmt sarif -out gosec.sarif ./...'

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@44ef9d902a215aada01a0927e7714ba5cd68a2f4
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: gosec.sarif

      - name: "Upload artifact"
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # v3.1.1
        with:
          name: Gosec SARIF file
          path: gosec.sarif
          retention-days: 5

